.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: orange;
    display: flex;
    width: 1350px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: sticky;
    top: 0;
}

.nav a:link {
    text-decoration: none;
}

.nav a:hover {
    color:rgb(173, 126, 8);
}


.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


.homeTitle {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


.button p{
    font-size: 15px;
}
