body{
    background: url("../../img/homebackgroudn.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.countriesCards{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  /* padding: 20px 0px 20px 0px; */
}



.homeBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgb(151, 147, 138)
}

.search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:transparent;
  margin: 5px;
  border-radius: 10px;
  border: 2px solid black;
}

.search button{
  background-color: dimgray;
  border-radius: 5px;
  border: 1px solid black;
  margin: 3px;
  padding: 2px;
  cursor: pointer;
  font-family:  cursive;
}

.search button:hover{
  background-color: gray;
}

.search input{
  background-color: dimgray;
  border-radius: 10px;
  border: 2px solid black;
  font-family: cursive;
}

.filters{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  background-color: dimgray;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid black;
}

.errorMsg{
  border: 2px solid black;
  background-color: red;
  padding: 20px;
  font-family: cursive;
  font-size: 35px;
  border-radius: 15px;
}
