.landing {
    background: url("../../img/homebackgroudn.jpg") no-repeat center center fixed;
    /* background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    position: fixed; */
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around
}

.landingTitle {
    text-align: center;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    text-shadow: 5px 5px 15px black;
}

.landingBtn {
    border-radius: 5px;
    border-color: black;
    border-style: groove;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: black;
    font-size: large;
    background-color:darkgoldenrod;
    cursor: pointer;
    /* transform: rotate(2deg) perspective(1000px); */
    height: 50px;
    margin-top: 250px;
    box-shadow: 5px 5px 15px black;
    
}

.landingBtn:hover{
    background-color:orange;
}